img {
  height: 150px;
  width: 100%;
}
.show {
  margin-bottom: 9%;
  margin-top: 9%;
  height: 300px;
}
body {
  background-color: #21252A;
  background-size: cover;
}
#adjust {
  height: 250px;
}
.article {
  color: #B8E6E6;
}
a: hover {
  color: #EFEFEF;
}
#search {
  width: 400px;
  margin-left: 5em;
  margin-top: 0;
  font-size: 3em;
}
.carou {
  background-image: url("../images/gossip.png");
  width: 49em;
  height: 23em;
  margin-top: 2em;
  margin-left: 2em;
  background-size: 70%;
}
h2 {
  margin: 0 auto;
  font-family: 'Lobster Two', cursive;
  color: #B8E6E6;
}
#header {
  background-color: #24476B;
}
#more {
  background-color: black;
  border-radius: 5px;
  color: #503629;
  margin-top: 2em;
}
#choose{
	margin: 2px 0 -23px;
	color: beige;
	font-size: 1em;
}
